.App-page {
   padding: 50px;
}

.TaskList {
   margin: 20px;
   width: 250px;
   height: 300px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.TaskListTitle {
   color: #333;
   height: 50px;
   margin-left: 5px;
   margin-right: 5px;
   padding-top: 19px;
   font-size: 24px;
   font-weight: 900;
   text-align: center;
}

.Card {
   background-color: blue;
}

