.App-page {

}

.TaskList {
   margin: 20px;
   width: 250px;
   height: 100%;
   padding-bottom: 7px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   background-color: rgb(202, 255, 222);

}

.TaskListTitle {
   color: #333;
   margin-left: 5px;
   margin-right: 5px;
   padding-top: 15px;
   padding-bottom: 5px;
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   font-family: 'Roboto', sans-serif;

}

.Card {
   width: 226px;
   background-color: white;
   margin-right: 7px;
   margin-top: 8px;
   margin-left: 7px;
   border-radius: 4px;
   box-shadow: rgba(0, 0, 0, 0.16) 0 3px 3px, rgba(0, 0, 0, 0.23) 0 3px 3px;
   text-align: center;
   padding-top: 9px;
   padding-bottom: 9px;
   padding-left: 5px;
   padding-right: 5px;
   font-family: 'Roboto', sans-serif;
}

hr {
   height: 1px;
   width: 236px;
   margin-left: 7px;
   margin-right: 7px;
   opacity: 0.25;
}

.CloseButton {
   padding: 2px;
   margin-left: 3px;
   margin-top: 3px;
   cursor: pointer;
}

.AddCard {
   display: flex;
}


body {

}

.TextField {
   margin-bottom: 5px;
}

.CardCreator {
   width: 236px;
   margin-left: 7px;
   margin-top: 8px;
}

.AddList {
   background-color: rgb(202, 255, 222);
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   padding: 5px;
   height: 100%;
   width: 236px;
   margin-left: 7px;
   margin-top: 20px;
}
.Board {
   display: flex;
}

.BoardCreator {
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   background-color: #9fe7a4;
   margin-top: 30px;
   margin-left: 30px;
   width: 200px;
   height: 120px;
   position: relative;
   cursor: pointer;
   transition: 400ms;
}

.BoardCreator:hover {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   transform: scale(1.10);
}

.BoardCreatorTitle {
   width: 130px;
   position: absolute;
   top: 48px;
   left: 45px;
   font-weight: bold;
   font-family: 'Roboto', sans-serif;
   color: white;
}

.AddListButton {
   margin-top: 20px;
}
